{{#modal-wrapper title="Create a role" description='' onDismiss="onDismiss"}}
  <div class="panel panel-default white-panel">
    <div class="panel-body">
      <form>

        {{#if errors}}
          <div class="alert alert-danger">
            {{errors}}
            <button {{action "clearMessages"}} type="button" class="close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {{/if}}


        <button class="btn btn-primary btn-lg pull-right" type="submit" {{action "addRole" newRole}}>
          Add Location
        </button>
        <button class="btn btn-default btn-lg pull-left" type="reset" {{action "onDismiss"}}>
          Cancel
        </button>

      </form>
    </div>
  </div>
{{/modal-wrapper}}